<header>

				<div class="header-bottom">
					<div class="main-logo " id="logo">
						<h1><a href="/index"><span class="fa fa-check-square-o" aria-hidden="true"></span>Institute</a></h1>
					</div>
					<!-- navigation -->
					<nav class="navbar navbar-inverse" id="navbar">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					            <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
				  </button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="myNavbar">
							<ul class="nav navbar-nav">
								<li><a href="/index">Home</a></li>
								<li><a href="/admindashboard">About</a></li>
								<li><a href="/signup">Join</a></li>
								<li><a href="/suggestion"> SUGGESTION BOX </a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
				<div class="clearfix"></div>
				<!-- //navigation -->
			</header>
