{% extends 'layout.html' %}


        {% block body %}
            <div class="jumbotron jum">
            <h1 class="center" style="color: white;"> WELCOME TO VICKERS ACADEMY E-LIBRARY</h1>
                <div class="button">
                    <button type="button" class="btn btn-success btn-lg"><a href="/studentlogin">Student Login</a></button>
                    <button type="button" class="btn btn-primary btn-lg"><a href="/adminlogin">Admin Login</a></button>
                </div>
            </div>

        {% endblock %}
