<!DOCTYPE html>
<html lang="en">
<head>
        {% block head %}
    {% if title %}
        <title> E-LIBRARY | {{ title }}</title>
    {% else %}
        <title> E-LIBRARY </title>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

            <link href="{{ url_for('static', filename ='boostrap/bootstrap.min.css') }}" rel="stylesheet" media="all"/>
            <link href="{{ url_for('static', filename ='boostrap/style.css') }}" rel="stylesheet" type="text/css" media="all" />
             <link href="{{ url_for('static', filename ='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all" />

    {% endblock %}
</head>

<body>


    <div class="container">
        {% include 'include/_navbar.html' %}<br>




            <!--extended body block from layout-->
            {% with messages = get_flashed_messages(with_categories=True)%}

                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}

                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

              {% block body %}
              {% endblock %}
            <!-- end of body block-->
    </div>

    <!--scripting tag-->

 

    {% block script %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" > </script>
    <!--end of scripting tag-->
    {% endblock %}

</body>
</html>