<!DOCTYPE html>
<html lang="en">
<head>
	<title>E-LIBRARY | {{ title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename ='boostrap/bootstrap.min.css') }}" rel="stylesheet" media="all"/>
    <link href="{{ url_for('static', filename ='boostrap/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ url_for('static', filename ='css/util2.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ url_for('static', filename ='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all" />
     <link href="{{ url_for('static', filename ='fonts/iconic/css/material-design-iconic-font.min.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ url_for('static', filename ='css/main1.css') }}" rel="stylesheet" type="text/css" media="all" />

{#<!--===============================================================================================-->#}
{#	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="css/util.css">#}
{#	<link rel="stylesheet" type="text/css" href="css/main.css">#}
{#<!--===============================================================================================-->#}
</head>
<body>

	<div class="limiter">
        <div class="alert">
            {% with messages = get_flashed_messages(with_categories=true)%}

                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}

                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/static/images/img-01.png" alt="IMG">
				</div>
			<!-- Login Form -->
				<form class="login100-form validate-form" action="/studentlogin" method="post">
					{{ form.hidden_tag() }}
					<span class="login100-form-title">
						Student Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						{{ form.Reg_NO(class="input100") }}
{#                        <input class="input100" type="text" name="email" placeholder="Email">#}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						{{ form.Class(class="input100") }}
{#                        <input class="input100" type="text" name="email" placeholder="Email">#}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>
{##}
{#					<div class="wrap-input100 validate-input" data-validate = "Password is required">#}
{#						<input class="input100" type="password" name="pass" placeholder="Password">#}
{#						<span class="focus-input100"></span>#}
{#						<span class="symbol-input100">#}
{#							<i class="fa fa-lock" aria-hidden="true"></i>#}
{#						</span>#}
{#					</div>#}

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div><br><br><br>

                    <div class="container-login100-form-btn">
						<button class="login100-form-btn">
							<a href="/index">Back to homepage</a>
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
{#							Forgot#}
						</span>
{#						<a class="txt2" href="#">#}
{#							Username / Password?#}
{#						</a>#}
					</div>

					<div class="text-center p-t-136">
{#						<a class="txt2" href="#">#}
{#							Create your Account#}
{#							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>#}
{#						</a>#}
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>