<html lang="en">
<head>
    <title>E-LIBRARY | {{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename ='boostrap/bootstrap.min.css') }}" rel="stylesheet" media="all"/>
    <link href="{{ url_for('static', filename ='css/admin.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ url_for('static', filename ='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all" />
     <link href="{{ url_for('static', filename ='fonts/iconic/css/material-design-iconic-font.min.css') }}" rel="stylesheet" type="text/css" media="all" />

</head>



        <body>
            <div class="container">

              <div class="sidebar">
              <a href="/admindashboard"><i class="fa fa-fw fa-home"></i> Home</a>
              <a href="/upload"><i class="fa fa-fw fa-wrench"></i>Upload Book</a>
              <a href='/VideosUpload'><i class="fa fa-fw fa-wrench"></i>Videos Upload</a>
              <a href="#clients"><i class="fa fa-fw fa-user"></i> Student</a>
              <a href="/admin"><i class="fa fa-fw fa-envelope"></i> Control Panel</a>
            </div>

            <div class="content-section">

            <form class="jumbotron" style="margin: auto; width: 70%; " method="post" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Subject</legend>
                    <div class="form-group">
                        {{ form.Subject.label(class="form-control-label") }}
                        {% if form.Subject.errors %}
                            {{ form.Subject(class="form-control form-control-lg is invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.Subject.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                        {{ form.Subject(class="form-control form-control-lg") }}
                            {% endif %}
                    </div>
                    <div class="form-group">
                        {{  form.Class(class="form-control-file")}}
                        {% if form.Class.errors %}
                            {% for error in form.Class.errors%}
                            <span class="text-danger">{{error}}</span><br>
                            {% endfor %}
                        {% endif %}
                    </div><br><br>
                   

                    <div class="form-group">
                        {{ form.submit(class="btn-success") }}
                    </div>

                </fieldset>
            </form>
        </div>

        </div>
    </body>